body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color : #494E5F;
  font-size: medium;
  line-height: normal;
}

h1 {
  color: #F7A192;
  font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.card {
  border: 1px solid white;
  padding: 20px;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}

a {
  color: #F7A192;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: grey;
}

td {
  padding: 30px ;
}

.link-to-le-wagon {
  color: #F7A192;
  font-weight: bold;
}

.link-to-le-wagon:hover {
    transition-duration: 1s;
    font-size: 18px;
  }

.cv-titles {
  padding: 30px;
  text-align: justify;
}

.cv-contents {
  text-align: justify;
}

.mark {
  background-color: #FFE7D4;
}

.first-col {
  border-right: 1px dashed grey;
}

.second-col {
  border-left: 1px dashed grey;
}



.skill-box {
  border: 2px solid #FFE7D4;
  border-radius: 50px;
  background-color: white;
  padding: 5px;
  margin: 3px;
}
