body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color : grey;
  font-size: medium;
  line-height: normal;
}

h1 {
  color: #EFC7CF;
  font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.card {
  border: 1px solid white;
  padding: 20px;
  text-align: center;
}

#profile-avatar {
  border-radius: 150px;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}

a {
  color: #005542;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: grey;
}

td {
  padding: 30px ;
}

.link-to-le-wagon {
  color: #005542;
  font-weight: bold;
}

.link-to-le-wagon:hover {
    transition-duration: 1s;
    font-size: 18px;
  }

.cv-titles {
  padding: 30px;
  text-align: justify;
}

.cv-contents {
  text-align: justify;
}

.mark {
  background-color: #EFC7CF;
}
